<script type="text/javascript">

  function fncreate() {
      var jsonRequest = $('#request_create').val();
      var obj = JSON.parse(jsonRequest);
      $.post({
          url: "/create",
          type: "POST",
          data: { score:obj.score, name: obj.name, time: obj.time},
          dataType:"json",
          success: function(data) {
              $('#response_create').val(JSON.stringify(data));
          },
          error: function(jqXHR, textStatus, errorThrown){
              $('#response_create').val(textStatus + ": "+ errorThrown);
          }
      });
  }

  function fndelete() {
      var jsonRequest = $('#request_delete').val();
      var obj = JSON.parse(jsonRequest);
      $.post({
          url: "/delete",
          type: "POST",
          data: { id: obj.id},
          dataType:"json",
          success: function(data) {
              $('#response_delete').val(JSON.stringify(data));
          },
          error: function(jqXHR, textStatus, errorThrown){
              $('#response_delete').val(textStatus + ": "+ errorThrown);
          }

      });
  }

  function fnread() {
      var jsonRequest = $('#request_read').val();
      var obj = JSON.parse(jsonRequest);
      $.post({
          url: "/read",
          type: "POST",
          data: { id: obj.id, start_date: obj.start_date, end_date: obj.end_date, playerlist:obj.playerlist, summary: obj.summary, current: obj.current},
          dataType:"json",
          success: function(data) {
              $('#response_read').val(JSON.stringify(data));
          },
          error: function(jqXHR, textStatus, errorThrown){
              $('#response_read').val(textStatus + ": "+ errorThrown);
          }
      });
  }

</script>

<h1>CREATE PLAYERS</h1>
<div>
  <textarea rows="4" cols="50" id="request_create" >{ "score":22, "name": "postman", "time": "2021-05-15 10:45 PM"}</textarea>
  <button id="create" onclick="fncreate()">Create</button>
  <textarea rows="4" cols="50" id="response_create" ></textarea>
</div>

<h1>DELETE PLAYERS</h1>
<div>
  <textarea rows="4" cols="50" id="request_delete" >{"id": 10}</textarea>
  <button id="delete" onclick="fndelete()">Delete</button>
  <textarea rows="4" cols="50" id="response_delete" ></textarea>
</div>

<h1>READ PLAYERS</h1>
<div>
  <textarea rows="4" cols="50" id="request_read" >{"id": 40, "start_date": "2021-05-15 22:45:00", "end_date": "2021-05-17 22:45:00", "playerlist": ["javascript2", "me"],
"summary": false, "current":1}</textarea>
  <button id="read" onclick="fnread()">Search</button>
  <textarea rows="4" cols="50" id="response_read" ></textarea>
</div>